html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: black;
    text-align: center;
    background-image: url("./images/remars-wall.png");
    background-repeat: round;
  }

  @font-face {
    font-family: 'SOUPER3';
    src: local('SOUPER3'), url('./fonts/SOUPER3.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Road Rage';
    src: local('Road Rage'), url('./fonts/Road_Rage.otf') format('opentype');
  }

  @font-face {
    font-family: 'gang bang crime';
    src: local('gang bang crime'), url('./fonts/gang_bang_crime.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Forty Script';
    src: local('Forty Script'), url('./fonts/FortyScript.ttf') format('truetype');
  }
  @font-face {
    font-family: 'DJ Gross';
    src: local('DJ Gross'), url('./fonts/DJGROSS.ttf') format('truetype');
  }
  @font-face {
    font-family: 'PaintCans';
    src: local('PaintCans'), url('./fonts/PaintCans.otf') format('opentype');
  }
  @font-face {
    font-family: 'RaseBasic';
    src: local('RaseBasic'), url('./fonts/RaseBasic.otf') format('opentype');
  }
  @font-face {
    font-family: 'WildStyle';
    src: local('WildStyle'), url('./fonts/WildBasic.otf') format('opentype');
  }
  
  .container {
    display: flex;
    /* text-align: center;
    vertical-align: middle; */
    flex-direction: column;
  }

#transcript {
    margin: 30px 0;
    white-space: pre-wrap;
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
#voicetext{

  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 2%;

}

#start-button,
#stop-button {
    margin: 5px 0;
}

#error {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4rem;
    border-radius: 5px 5px 5px 5px;
    color: #D8000C;
    background-color: #FFD2D2;
    display: none;
}

.isa_error i {
    margin: 2px 12px;
    font-size: 1.5em;
    vertical-align: middle;
}

#signout-button {
    height: 52px;
}


.small-caps {
    font-variant: small-caps;
}

canvas {  /* or some other selector */
  width: 160px !important;
  height: 160px !important;
}


.remars {
  background: url(./images/background.jpg) center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 9vw;
  line-height: 20vh;
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  @keyframes identifier {
    100% {
      transform: scale(1);
    }
  }
}


.neon {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    /* text-shadow: 0 0 3vw #F40A35;  */
    background: url(./images/background.jpg) center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    /* text-shadow: 0 0 3vw #2356FF; */
    background: url(./images/background.jpg) center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  /* @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    /* 50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    } 
  } */
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  /* @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    /* 50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    } 
  } */
  