html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: black;
    text-align: center;
    background-image: url("./images/remars-wall.png");
    background-repeat: round;
  }

  @font-face {
    font-family: 'Graffiti Youth';
    src: local('Graffiti Youth'), url('./fonts/Graffiti_Youth.otf') format('opentype');
  }
  @font-face {
    font-family: 'Graffiti Youth';
    src: local('Graffiti Youth'), url('./fonts/Graffiti_Youth.otf') format('opentype');
  }
  @font-face {
    font-family: 'Graffiti Youth';
    src: local('Graffiti Youth'), url('./fonts/Graffiti_Youth.otf') format('opentype');
  }
  @font-face {
    font-family: 'Muthiara';
    src: local('Muthiara'), url('./fonts/Muthiara.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bombies';
    src: local('Bombies'), url('./fonts/Bombies.otf') format('opentype');
  }
  @font-face {
    font-family: 'Blezer';
    src: local('Blezer'), url('./fonts/Blezer.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bomber Squad';
    src: local('Bomber Squad'), url('./fonts/Graffiti_Squad.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bombero';
    src: local('Bombero'), url('./fonts/Bombero.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bombsky';
    src: local('Bombsky'), url('./fonts/Bombsky.otf') format('opentype');
  }
  @font-face {
    font-family: 'Boom Boom';
    src: local('Boom Boom'), url('./fonts/Boom\ Boom.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bradwall';
    src: local('Bradwall'), url('./fonts/Bradwall.otf') format('opentype');
  }
  @font-face {
    font-family: 'Brenza';
    src: local('Brenza'), url('./fonts/Brenza.otf') format('opentype');
  }
  @font-face {
    font-family: 'Brione';
    src: local('Brione'), url('./fonts/Brione.otf') format('opentype');
  }
  @font-face {
    font-family: 'Brockers';
    src: local('Brockers'), url('./fonts/Brockers.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bubble Boom';
    src: local('Bubble Boom'), url('./fonts/Bubble\ Boom.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gemstone';
    src: local('Gemstone'), url('./fonts/GemstoneRegular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Graffiti Rebel';
    src: local('Graffiti Rebel'), url('./fonts/Graffiti\ Rebel.otf') format('opentype');
  }
  @font-face {
    font-family: 'Rebeland';
    src: local('Rebeland'), url('./fonts/Rebeland.otf') format('opentype');
  }
  @font-face {
    font-family: 'Southsider';
    src: local('Southsider'), url('./fonts/Southsider.otf') format('opentype');
  }
  @font-face {
    font-family: 'Streamzy';
    src: local('Streamzy'), url('./fonts/Streamzy.otf') format('opentype');
  }
  @font-face {
    font-family: 'Street Hustle';
    src: local('Street Hustle'), url('./fonts/Street\ Hustle.otf') format('opentype');
  }

  @font-face {
    font-family: 'Sweet Blood';
    src: local('Sweet Blood'), url('./fonts/Sweet\ Blood.otf') format('opentype');
  }

  @font-face {
    font-family: 'Urban Rebel';
    src: local('Urban Rebel'), url('./fonts/Urban\ Rebel.otf') format('opentype');
  }

  
  
  .container {
    display: flex;
    /* text-align: center;
    vertical-align: middle; */
    flex-direction: column;
  }

#transcript {
    margin: 30px 0;
    white-space: pre-wrap;
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
#header{
  padding: 30px;
}
#voicetext{

  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 2%;

}

#start-button,
#stop-button {
    margin: 5px 0;
}

#error {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4rem;
    border-radius: 5px 5px 5px 5px;
    color: #D8000C;
    background-color: #FFD2D2;
    display: none;
}

.isa_error i {
    margin: 2px 12px;
    font-size: 1.5em;
    vertical-align: middle;
}


.small-caps {
    font-variant: small-caps;
}

canvas {  /* or some other selector */
  width: 160px !important;
  height: 160px !important;
}


div.remars {
  background: url(./images/background.jpg) center;
  filter: drop-shadow(10px 0px 10px #000);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 9vw;
  line-height: 20vh;
  padding: 100px;
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  @keyframes identifier {
    100% {
      transform: scale(1);
    }
  }
}


div.solidg {
  margin-bottom: .5em;
  font-family: Bomber Squad, sans-serif;
  font-size: 5rem;
  color: #e0354d; 

  position: relative;
  background-image: linear-gradient(135deg, #fa691a 0%, #d72263 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


div.solidg::before{
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
z-index: -1;
text-shadow: -1px -1px 0 rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.25), 3px 3px 3px rgba(0,0,0,.25), 10px 10px 20px rgba(0,0,0,.5), 20px 40px 40px rgb(0,0,0); 
}




.neon {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    /* text-shadow: 0 0 3vw #F40A35;  */
    background: url(./images/background.jpg) center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    /* text-shadow: 0 0 3vw #2356FF; */
    background: url(./images/background.jpg) center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  /* @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    /* 50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    } 
  } */
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  /* @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    /* 50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    } 
  } */
  